# Notebook 1: Extracting the relevant 

In this notebook, our goal is to extract datasets for supervised classification from raw moodle logs - stored as a MySQL Dump.

We will start by using Python to connect to a local MySQL database restored from the original dump found in: https://storage.googleapis.com/dissertation-data/dissertation-export/mysql-export

This is a computationally expensive process: the dump file size is over 6.5 Gb and we've found some issues loading such a large database into MySQL through the Workbench - only managed it through the console. 

In the interest of time and available space, we will use this notebook to: 

1. Extracted Moodle Logs and other relevant tables from the MySQL local instance,
2. Save the extracted files as csvs - our raw datasets, 

Future work will be developed on these csv files, which will save us the hassle of continuously having to connect to MySQL.

#### Step 1: Load relevant packages and libraries

In [1]:
#Packagest to handle MySQL dump
from pymysql import connect

# Directory Manipulation
import os

#progress bar and pandas activation
from tqdm import tqdm
tqdm.pandas()

#pandas and np for standard preprocessing
import pandas as pd

#### Step 2: Connect to Database and Open Dump

In [2]:
#connect to db - use your appropriate credentials
mydb = connect(host='localhost',
               port= 3306,
               user='root',
               password='***********',
               db = 'data_students')

#connect cursor
cur = mydb.cursor()

#show all tables and store in list,
cur.execute("SHOW TABLES")
sql_tables = cur.fetchall()

### This will be an hardcoded segment

After seeing the list, and knowing the database, we know which tables we want in this instance:

'mdl_context', 'mdl_course', 'mdl_course_modules', 'mdl_grade_grades','mdl_grade_items', 'mdl_role_assignments', 'log'

We will start by making a list of the tables we intend to keep.
Then we will look into importing all these tables into dfs that we will store in a dict of dataframes.

If you'd like to use this script in the future, even if for other purposes, make sure that you make the necessary adjustments in this section.

In [3]:
#creating table - need to check, in the future, for a way to automate this segment
sql_tables = ['mdl_context', 'mdl_course', 'mdl_course_modules', 
              'mdl_grade_grades','mdl_grade_items', 'mdl_role_assignments', 'log']

### Back to automated section

#### Step 3: Import all tables and Store them in Dict

In [4]:
#create import template
select_template = 'SELECT * FROM {table_name}'
frames_dict = {}

#import all relevant tables and store them in dict
for tname in tqdm(sql_tables):
    query = select_template.format(table_name = tname)
    frames_dict[tname] = pd.read_sql(query, mydb)

100%|███████████████████████████████████████████████████████████████████████████████████| 7/7 [48:12<00:00, 413.16s/it]

#### Step 4: Save all the relevant tables as CSV files

In [5]:
#exporting each table as csv
for i in tqdm(frames_dict): 
    frames_dict[i].to_csv('../Data/R_Gonz_data_'+str(i)+'.csv')

100%|████████████████████████████████████████████████████████████████████████████████████| 7/7 [08:14<00:00, 70.61s/it]

### All done, for now.

The main purpose of this notebook was to extract the relevant data from the source MySQL dump file. In the next section, we will take the data we exported and start working towards the work's main goals.

Until then.