## Notebook 2.2. Understanding and Preprocessing of Moodle Logs

For all intents and purposes, this should be considered as the first real notebook that is part of the thesis work. In it, we will take the original student log file and perform the necessary manipulations to ensure that we have a dataset with the potential to be useful.

We will use this notebook to filter the Moodle logs to only include the courses of our interest and estimate course duration.

#### 1. A Small overview of the logs and each column

The presented logs report to interactions with the Moodle LMS:

    - Each interaction with the LMS is recorded sequentially:
        When is the action performed,
        What is the nature of the interaction,
        Where is the actor when the action is performed,
        Who performed the interaction,
        In the context of which course page,
        What is the specific link,
                
    - Each user is uniquely identified by the userID,
    - Each course is uniquely identified by the courseID,
    - Each specific interaction is recorded -> action performed and clicked url, 
    - Each click is timestamped,
    - The actor's IP is recorded,

A brief description of each column follows:

##### component
An identifier of the component,

##### TStamp	
A timestamp of the event,

##### userid
Unique numerical identifier of user -> be it student, faculty or other,

##### ip
ip adress used by the user when interactiong with the LMS system,

##### course
Unique numerical identifier of a course,

##### objecttable
meaning unclear at the moment - to check with other Moodle Sources,

##### action
categorization of nature of the interaction

#### target	
category of the page the student is accessing,

##### cd_discip
The identifier of the course in the other institutional software


#### 2. We'll start this notebook by importing all relevant packages and data

All data is stored in the csv files that were exported in the previous notebook. 

In order to minimize unecessary steps, as we import these csv files we will immediatly remove, from each dataset:
1. The first unnamed column,
2. All columns that are entirely made of missing values - we have detected some.
3. All numerical columns that are immediatly recognied as categorical (or likely to be categorical values) are also immediatly declared as categoricals - this does not mean that, upon further assessment, other features may be converted to objects,
4. All features that display no null values and have a single value are promptly removed as well, 
5. No preprocessing of time related features is performed at this stage - namely because the features realted with time may require further assessment.

In [1]:
#import libs
import pandas as pd
import numpy as np
from pandas.tseries.offsets import *

#viz related tools
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors
from matplotlib.colors import LogNorm, Normalize
from matplotlib.ticker import MaxNLocator
import matplotlib as mpl
from matplotlib import cm

import seaborn as sns
from tqdm.notebook import tqdm, trange
tqdm.pandas(desc="Progress")

sns.set()
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
#additionally, we will also define preemptively some golbal variables that may come in handy

#colors for vizualizations
nova_ims_colors = ['#BFD72F', '#5C666C']

#standard color for student aggregates
student_color = '#474838'

#standard color for course aggragates
course_color = '#1B3D2F'

#standard continuous colormap
standard_cmap = 'viridis_r'

In [3]:
#loading student log data 
student_logs = pd.concat(pd.read_excel('../Data/Nova_IMS_logs_Moodle.xlsx', sheet_name = None,
                           dtype = {
                                   'userid': float,
                                   'courseid': object,
                                   'TStamp' : pd.datetime,
                           })).drop(['eventname', 'CourseShortname', 'startdate', 'enddate'], axis = 1).dropna(how = 'all', axis = 1) #logs

#other tables with support information
support_table = pd.read_csv('../Data/Nova_IMS_support_table.csv',
                             dtype = {
                                 'cd_curso' : object,
                                 'courseid' : float,
                                 'userid' : float,
                                 'assign_id': object,
                             }, parse_dates = ['startdate', 'end_date']).drop('Unnamed: 0', axis = 1)

#after checking, we note that time and stime report to the same date and differ in 1 hour, hence, we will only keep the time column
#additionally, we will make the immediate conversion of time
student_logs = student_logs.rename(columns = {
                    'TStamp': 'time', #readjusting names to match other information I already have
                    'courseid': 'course', #moodle courseid
                    'cd_discip' : 'courseid', #netpa course id
                    }).reset_index(drop = True).sort_values(by = 'time')

student_logs['userid'], support_table['courseid'], support_table['userid'] = student_logs['userid'].astype(object), support_table['courseid'].astype(object), support_table['userid'].astype(object)

### We start by taking a preliminary look at the logs

In [4]:
student_logs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4829394 entries, 117552 to 4773753
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   component       object
 1   action          object
 2   target          object
 3   objecttable     object
 4   userid          object
 5   course          object
 6   time            datetime64[ns]
 7   CourseFullname  object
 8   courseid        object
dtypes: datetime64[ns](1), object(8)
memory usage: 368.5+ MB

In [5]:
student_logs.describe(include ='all', datetime_is_numeric = True).T

,count,unique,top,freq,mean,min,25%,50%,75%,max
component,4829394,38,core,1928779,NaT,NaT,NaT,NaT,NaT,NaT
action,4829394,43,viewed,4439966,NaT,NaT,NaT,NaT,NaT,NaT
target,4829394,90,course,1749544,NaT,NaT,NaT,NaT,NaT,NaT
objecttable,2921683,64,quiz_attempts,962760,NaT,NaT,NaT,NaT,NaT,NaT
userid,4829394.0,2631.0,24.0,33174.0,NaT,NaT,NaT,NaT,NaT,NaT
course,4829394.0,340.0,1219.0,105791.0,NaT,NaT,NaT,NaT,NaT,NaT
time,4829394,NaN,NaN,NaN,2021-01-31 04:35:53.171790592,2020-08-26 11:51:00,2020-11-12 22:32:00,2021-01-22 20:56:00,2021-04-19 18:18:00,2021-07-30 22:02:00
CourseFullname,4829394,341,202021 - Marketing Digital e ComÃ©rcio EletrÃ³...,105791,NaT,NaT,NaT,NaT,NaT,NaT
courseid,4816821.0,272.0,200165.0,129264.0,NaT,NaT,NaT,NaT,NaT,NaT

In [6]:
student_logs

,component,action,target,objecttable,userid,course,time,CourseFullname,courseid
117552,mod_forum,viewed,course_module,forum,4867.0,1214,2020-08-26 11:51:00,202021 - InteligÃªncia EconÃ³mica e Competitiv...,400033
201301,mod_forum,viewed,course_module,forum,4867.0,1242,2020-08-26 11:51:00,202021 - Metodologias e TÃ©cnicas de AnÃ¡lise ...,400037
201300,core,viewed,course,NaN,4867.0,1242,2020-08-26 11:51:00,202021 - Metodologias e TÃ©cnicas de AnÃ¡lise ...,400037
117551,core,viewed,course,NaN,4867.0,1214,2020-08-26 11:51:00,202021 - InteligÃªncia EconÃ³mica e Competitiv...,400033
282504,core,viewed,course,NaN,4867.0,1284,2020-08-26 11:51:00,202021 - TÃ©cnicas AnalÃ­ticas Estruturadas pa...,400032
...,...,...,...,...,...,...,...,...,...
4803176,core,viewed,course,NaN,4165.0,1484,2021-07-30 21:07:00,202021 - Metodologias de InvestigaÃ§Ã£o - Turm...,200086
4773750,core,viewed,course,NaN,4165.0,1273,2021-07-30 21:07:00,202021 - DissertaÃ§Ã£o - S1,200040
4773751,core,viewed,course,NaN,4006.0,1273,2021-07-30 21:45:00,202021 - DissertaÃ§Ã£o - S1,200040
4773752,core,viewed,course,NaN,4006.0,1273,2021-07-30 21:49:00,202021 - DissertaÃ§Ã£o - S1,200040
4773753,core,viewed,course,NaN,4006.0,1273,2021-07-30 22:02:00,202021 - DissertaÃ§Ã£o - S1,200040

I am unable to convert courseid to an object, which hints at some of these courses as different. We've identified 2 instances:

1. 100012-100013
2. 200032-400007

In the support table, all of the 4 courses are represented. We can get the students attending each individual course and make the proper assignment.

In [7]:
#use this cell to write any additional piece of code that may be required

### And follow-up by looking at the support table

In [8]:
support_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40450 entries, 0 to 40449
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   cd_curso         40450 non-null  object
 1   semestre         40450 non-null  object
 2   courseid         40450 non-null  object
 3   userid           40450 non-null  object
 4   assignment_mark  37611 non-null  float64
 5   assign_id        37611 non-null  object
 6   end_date         40450 non-null  datetime64[ns]
 7   startdate        40450 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 2.5+ MB

In [9]:
support_table.describe(include ='all', datetime_is_numeric = True).T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
cd_curso,40450,28,9434,8175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
semestre,40450,6,S1,16882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
courseid,40450.0,251.0,200071.0,1465.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
userid,40450.0,2305.0,3248.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
assignment_mark,37611.0,NaN,NaN,NaN,14.511157,0.0,12.7,15.88,17.7,20.0,4.548028
assign_id,37611,1781,1553,179,NaN,NaN,NaN,NaN,NaN,NaN,NaN
end_date,40450,NaN,NaN,NaN,2021-03-24 13:34:54.496909568,2020-10-30 00:00:00,2021-01-15 00:00:00,2021-01-22 00:00:00,2021-06-18 00:00:00,2021-06-18 00:00:00,NaN
startdate,40450,NaN,NaN,NaN,2020-11-26 10:38:45.715698176,2020-09-07 00:00:00,2020-09-07 00:00:00,2020-11-02 00:00:00,2021-02-08 00:00:00,2021-04-12 00:00:00,NaN

In [10]:
support_table

,cd_curso,semestre,courseid,userid,assignment_mark,assign_id,end_date,startdate
0,8259,S1,100001.0,1544.0,NaN,NaN,2021-01-15,2020-09-07
1,8259,S1,100001.0,1556.0,13.9,0,2021-01-15,2020-09-07
2,8259,S1,100001.0,1556.0,8.7,1,2021-01-15,2020-09-07
3,9155,S1,100001.0,1564.0,16.8,2,2021-01-15,2020-09-07
4,9155,S1,100001.0,1564.0,7.3,3,2021-01-15,2020-09-07
...,...,...,...,...,...,...,...,...
40445,4969,T4,400094.0,7248.0,12.7,1789,2021-06-11,2021-04-12
40446,4969,T4,400094.0,7250.0,17.0,1786,2021-06-11,2021-04-12
40447,4969,T4,400094.0,7250.0,18.0,1787,2021-06-11,2021-04-12
40448,4969,T4,400094.0,7250.0,17.0,1788,2021-06-11,2021-04-12
40449,4969,T4,400094.0,7250.0,17.0,1789,2021-06-11,2021-04-12

Going for all

In [11]:
#getting list of courses
students_course_1 = support_table[support_table['courseid'] == 100012.0]['userid'].unique()
students_course_2 = support_table[support_table['courseid'] == 100013.0]['userid'].unique()
students_course_3 = support_table[support_table['courseid'] == 200032.0]['userid'].unique()
students_course_4 = support_table[support_table['courseid'] == 400007.0]['userid'].unique()

In [12]:
#converting 
student_logs['courseid'] = np.where(student_logs['courseid'] == '100012-100013',
                                np.where(student_logs['userid'].isin(students_course_1),
                                   100012.0, #course 1
                                   100013.0), #course 2,    
                                np.where(student_logs['courseid'] == '200032-400007',
                                  np.where(student_logs['userid'].isin(students_course_3),
                                   200032.0, #course 3
                                   400007.0), #course 4,
                                student_logs['courseid'] #remain the same in all others      
                                           ))

#converting to float to get the .0 and back to object again
student_logs['courseid'] = student_logs['courseid'].astype(float)
student_logs['courseid'] = student_logs['courseid'].astype(float)

del students_course_1, students_course_2, students_course_3, students_course_4

Secondly, we will focus on the semester. We note that most courses have the corresponding semester inn

In [46]:
student_logs['semestre'] = student_logs['CourseFullname'].str.contains('T1|T2|T3|T4|S1|S2')

student_logs['semestre'].value_counts()

True     4375550
False     453844
Name: semestre, dtype: int64

In [51]:
list(student_logs[student_logs['semestre'] == False]['CourseFullname'].unique())

['Data Science for Marketing',
 'MSI 2020/21 - Marketing Strategy Innovation',
 '202021 - Mestrado e PÃ³s-GraduaÃ§Ã£o em CiÃªncia e Sistemas de InformaÃ§Ã£o GeogrÃ¡fica',
 'Social Network Analysis',
 'Programming for Data Science',
 'XD-202021 - Experimental Design - Master',
 'XD-202021 - Experimental Design - PhD',
 '202021 - InteligÃªncia Computacional para OtimizaÃ§Ã£o',
 'SI- Sistemas de InformaÃ§Ã£o - 100094',
 '202021 - Research Methodologies - Tutorials TP16',
 '202021 - Consumer Behavior Insights - TPDaytime',
 '202021 - Consumer Behavior Insights - TP1/TP2/TPDAYTIME',
 'Research Methodologies',
 'Big Data Analytics (MAA)',
 'Big Data Analytics (night)',
 'Programming for Data Science (EDSA)',
 'Big Data for Finance',
 'Big Data Modelling and Management',
 'Big Data Analytics  (DAYTIME)',
 '202021 - Research Methodologies - Tutorials TP21',
 'XD - Experimental Design - Master',
 'XD - Experimental Design - PhD',
 '202021 - MÃ©todos AnalÃ\xadticos e Engenharia de Marketing - Turma TPDAYTIME - S3',
 '202021 - Big Data Analytics for Business ']

In [40]:
student_logs.describe(include = 'all', datetime_is_numeric = True)

,component,action,target,objecttable,userid,course,time,CourseFullname,courseid,semestre
count,4829394,4829394,4829394,2921683,4829394.0,4829394.0,4829394,4829394,4.816821e+06,4829394
unique,38,43,90,64,2631.0,340.0,NaN,341,NaN,37
top,core,viewed,course,quiz_attempts,24.0,1219.0,NaN,202021 - Marketing Digital e ComÃ©rcio EletrÃ³...,NaN,S1
freq,1928779,4439966,1749544,962760,33174.0,105791.0,NaN,105791,NaN,1889748
mean,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-31 04:35:53.171790592,NaN,1.975122e+05,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-26 11:51:00,NaN,1.000010e+05,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-12 22:32:00,NaN,1.000980e+05,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-22 20:56:00,NaN,2.001600e+05,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-19 18:18:00,NaN,2.001960e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-30 22:02:00,NaN,4.001390e+05,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.118760e+04,NaN

In [13]:
#use this cell to write any additional piece of code that may be required

### Goal 1: 

One of the first thing to do is to consider the set of students and courses we intend to use. We have, from our support table, a list of the courses and students that we are interested in.

Unlike in the situation of R. Gonz, we have to account for semesters, as there are instances of the same course - better said different courses with the same internal reference in Netpa have different course reference codes on Moodle.

We need to start by making sure that we have a real way to properly sinchronize both databases - as to avoid joining together students attending different versions of a course.

A first, preliminaary approach is to get all course-user pairs on the logs and see how they match up to programid-semester-courseid. We would expect there to be a reasonable match between both.

In [28]:
#we get all nonduplicate rows 
synch_df = student_logs.filter(['userid','courseid', 'course', 'time']).drop_duplicates(subset = ['userid','course', 'courseid'],
                                                                                        keep = 'first') #will allow us to understand when the first student interaction occurs

#now, we get to merge perform an inner merge
synch_df = pd.merge(synch_df, support_table[['cd_curso','semestre', 'courseid', 'userid']], on = ['courseid', 'userid'])
synch_df = synch_df.filter(['cd_curso', 'courseid','course', 'semestre', 'userid']).reset_index(drop = True) #will allow us to understand when the first student interaction occurs

#we get to see to how many programs does a Moodle course refer to - in specific -
course_to_courseid = synch_df.groupby('course').agg({
                                                'cd_curso' : 'nunique',
                                                'courseid' : 'nunique',
                                                'semestre': 'nunique',
                                                'userid' : 'nunique'
                                                }).sort_values(['semestre'], ascending=False).reset_index()

course_to_courseid = student_logs[student_logs['course'].isin(course_to_courseid)]

     course  cd_curso  courseid  semestre  userid
0      1554         2         1         2      12
1      1477         2         1         2      13
2      1486         2         1         2      69
3      1485         2         1         2      11
4      1482         2         1         2       9
..      ...       ...       ...       ...     ...
282    1322         9         1         1      88
283    1323         1         1         1      69
284    1324         1         1         1      32
285    1325         1         1         1      33
286    1367         1         1         1       1

[287 rows x 5 columns]

We see multiple courses that occur in different semesters - allegedly 23 of them.
We can look deeper into these courses and verify how they are registered.

In [32]:
#store them together
more_than_one = course_to_courseid[course_to_courseid['semestre'] > 1]['course'].tolist() # 23 

#we find those logs
logs_2_semesters = student_logs[student_logs['course'].isin(more_than_one)]
logs_2_semesters['courseid'] = logs_2_semesters['courseid'].astype(object)
logs_2_semesters.describe(include = 'all', datetime_is_numeric = True)

,component,action,target,objecttable,userid,course,time,CourseFullname,courseid
count,192587,192587,192587,107707,192587.0,192587.0,192587,192587,192587.0
unique,19,21,51,35,707.0,23.0,NaN,24,6.0
top,core,viewed,course,resource,398.0,1354.0,NaN,202021 - AnÃ¡lise MatemÃ¡tica II - S2,100008.0
freq,91073,174980,81768,44852,8994.0,67541.0,NaN,67541,79380.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-09 05:14:14.864243200,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,2020-08-27 00:00:00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 16:50:00,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,2021-02-04 17:12:00,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,2021-04-12 16:48:00,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,2021-07-30 22:02:00,NaN,NaN

In [33]:
logs_2_semesters

,component,action,target,objecttable,userid,course,time,CourseFullname,courseid
41720,core,created,user_enrolment,user_enrolments,24.0,1187,2020-08-27 00:00:00,202021 - AnÃ¡lise MatemÃ¡tica I - S1,100008.0
41721,core,assigned,role,role,24.0,1187,2020-08-27 00:01:00,202021 - AnÃ¡lise MatemÃ¡tica I - S1,100008.0
258751,core,assigned,role,role,24.0,1273,2020-08-27 00:01:00,202021 - DissertaÃ§Ã£o - S1,200040.0
258750,core,created,user_enrolment,user_enrolments,24.0,1273,2020-08-27 00:01:00,202021 - DissertaÃ§Ã£o - S1,200040.0
43172,core,assigned,role,role,24.0,1188,2020-08-28 00:00:00,202021 - AnÃ¡lise MatemÃ¡tica II - S1,100010.0
...,...,...,...,...,...,...,...,...,...
4780157,mod_resource,viewed,course_module,resource,4713.0,1353,2021-07-30 17:26:00,202021 - AnÃ¡lise MatemÃ¡tica I - S2,100008.0
4773750,core,viewed,course,NaN,4165.0,1273,2021-07-30 21:07:00,202021 - DissertaÃ§Ã£o - S1,200040.0
4773751,core,viewed,course,NaN,4006.0,1273,2021-07-30 21:45:00,202021 - DissertaÃ§Ã£o - S1,200040.0
4773752,core,viewed,course,NaN,4006.0,1273,2021-07-30 21:49:00,202021 - DissertaÃ§Ã£o - S1,200040.0
4773753,core,viewed,course,NaN,4006.0,1273,2021-07-30 22:02:00,202021 - DissertaÃ§Ã£o - S1,200040.0

In [36]:
student_logs['CourseFullname'].value_counts()

202021 - Marketing Digital e ComÃ©rcio EletrÃ³nico - Turma TP1, TP2, TP3 e TPDAYTIME - S1    105791
MÃ©todos Descritivos de Data Mining - Turma TP1 e TP2 - S1                                    95783
202021 - Base de dados / Base de dados I (100012/100013) - S1                                 93378
202021 - Aprendizagem AutomÃ¡tica - S1                                                        92059
202021 - EstatÃ­stica para a CiÃªncia de Dados - S1                                           75532
                                                                                              ...
202021 - Designing Digital Innovation - Capstone I - T1                                           2
202021 - Mercados de ObrigaÃ§Ãµes - S1                                                            2
202021 - Data Science for Hospitaly and Tourism II (Predictive Analytics) - S1                    2
202021 - AvaliaÃ§Ã£o de Empresas e GestÃ£o de Carteiras - S1                                      2
202021 - Reimagining your Orgamization II - T2                                                    2
Name: CourseFullname, Length: 341, dtype: int64

In [19]:
synch_df.describe(include = 'all', datetime_is_numeric = True)

        courseid  course semestre
count      312.0     312      312
unique     231.0     287        6
top     200086.0    1468       S2
freq        47.0       2      141

In [ ]:
#We start by filtering by all courses that are in our support table
course_array = support_table['courseid'].unique()

#then, we keep logs of the courses of interest   
student_logs = student_logs[student_logs['course'].isin(course_array)].sort_values(by = 'time')

#and the students
student_logs = student_logs[student_logs['userid'].isin(students)].reset_index(drop = True)

#and get the complete list of students interacting with the system - graded or not
student_courses = student_logs.filter(['course', 'userid']).drop_duplicates().reset_index(drop = True)

#take a look at slices dataset
student_logs

In [ ]:
student_logs.describe(include ='all', datetime_is_numeric = True).T

From this filtering process, we get **9 632 455 recorded interactions**, performed by **16 041** unique students in the context of **732 curricular units**.

We will be able to go further in our filtering efforts, but, beforehand, we may create some exploratory visualizations that will be able to assist us.

#### Small visualization: Weekly clicks per course
We know that the conditions from course to course vary wildly. 
For the purposes of a more thorough understanding of the data, we can see how clicks for each course vary, from course to course, through time.

In [ ]:
#first, we sort the courses by the start date. Then, we'll get the index of each 
sorting_hat = support_table[['courseid', 'startdate']].drop_duplicates().sort_values(by = 'startdate').reset_index(drop = True)
sorting_hat.reset_index(inplace = True)
sorting_hat = sorting_hat.set_index('courseid').to_dict()['startdate'] 

#Then, when it comes to logs, we aggregate by week
grouped_data = student_logs.groupby([pd.Grouper(key='time', freq='W'), 'course']).agg({
                                                                             'action': 'count',
                                                                             }).reset_index().sort_values('time')
#change for better reading
grouped_data['Date (week)'] = grouped_data['time'].astype(str)

#creating pivot table to create heatmap
grouped_data = grouped_data.pivot_table(index ='course', 
                       columns = 'Date (week)',
                        values = 'action', 
                       aggfunc =np.sum,
                        fill_value=np.nan).reset_index().rename(columns = {'course' : 'Course'})

#now, we will sort the courses according to the starting date
grouped_data['sort'] = grouped_data['Course'].map(sorting_hat)
grouped_data['Course'] = pd.to_numeric(grouped_data['Course']).astype(int)

#finally we create the pivot_table that we will use to create our heatmap
grouped_data = grouped_data.set_index('Course', drop = True).sort_values('sort').drop('sort', axis = 1)
grouped_data.T.describe(include = 'all').T

In [ ]:
grouped_data

In [ ]:
sns.set_theme(context='paper', style='whitegrid', font='Calibri', rc={"figure.figsize":(20, 12)}, font_scale=2)

#here, we are plotting the first
heat1 = sns.heatmap(grouped_data, robust=True, norm=LogNorm(), xticklabels = 2, yticklabels= False,
            cmap = standard_cmap, cbar_kws={'label': 'Weekly interactions'})

fig = heat1.get_figure()
fig.savefig('../Images/NovaIMS_exploratory_course_weekly_clicks_heatmap.png', transparent=True, dpi=300)

#delete to remove from memory
del fig, heat1

**We can, additionally**, make some additional observations that may come in handy in the future:

a. How many students are attending each course,

b. How many courses is each student attending,

This knowledge will allow us make additional filtering decisions to enhance our sample.

In [ ]:
#we can compute the number of students attending each course, and the number of courses each student is attending
class_list = student_courses.groupby('course')['userid'].count().to_frame().rename(columns = {'userid' : 'Users per course'})
enrollment_size = student_courses.groupby('userid')['course'].count().to_frame().rename(columns = {'course' : 'Courses per User'})

**A. How many students are attending each course?**

In [ ]:
#settub
sns.set_theme(context='paper', style='whitegrid', font='Calibri', rc={"figure.figsize":(16, 10)}, font_scale=2)

#a number of students per course
#student_courses.rename(columns = {'userid' : 'Students per course'}, inplace = True)

#then we plot an histogram with all courses, we are not interested in keeping courses with a number of students inferior to 10
hist1 = sns.histplot(data=class_list, x='Users per course', kde=True, color= student_color, binwidth = 5,)

fig = hist1.get_figure()
fig.savefig('../Images/hist1_students_per_course_bin_5.png', transparent=True, dpi=300)

#delete to remove from memory
del fig, hist1

**There is a very significant number of courses with between 1 and 10 students**

**B. In how many courses is each student enrolled?**

In [ ]:
#then we plot an histogram with all courses, we are not interested in keeping courses with a number of students inferior to 10
hist2 = sns.histplot(data= enrollment_size, 
        x='Courses per User', color= course_color, discrete = True, fill = True)

fig = hist2.get_figure()
fig.savefig('../Images/hist2_courses_per_student course_bin_1.png', transparent=True, dpi=300)

#delete to remove from memory
del fig, hist2

Depending on the course in question, it is possible for it to have 1 registered user vs almost 1400.
Additionally, we can also see that there is a significant number of students attending a single course (over 6000).

To some extent, most courses have some degree of interaction no matter how small.

We can see that many of the interactions start in late August, early September - the start of the school year. 
When it comes to different disciplines we can also discern different the most common starting points:
- Early September
- End of January/Start of February

Additionally, many courses seem, at least on a preliminary level, be consistent with the split between semesters and trimesters.

### Goal 2: To estimate course end-date

Moodle provides the start date of each course. However, it does not provide an end-date. 
Course duration is, thus, an estimated value:

For each course, the authors look at the sequences of interactions, ignore any outlier dates (using the 1.5 * IQR rule) and set the end of course date as the date corresponding to the 95% percentile.

Again, as we do not have absolute knowledge over the course duration - we will blindly follow the instructions laid out by the authors.

For that, we will start by splitting the logs by course - for that we will create a dict of dfs:

In [ ]:
course_dict = {course: student_logs.loc[student_logs['course'] == course][['time']] for course in tqdm(course_array)}

After getting the dictionary, we now have the ability to, for every course, repeat what was done by the authors of the Riestra González paper.

For that, we will create a function. We choose to do it this way because we can use the pipe method.

In [ ]:
def get_end_date(logs):
    '''takes logs as input and performs multiple operations
    1 - sorts column with name time,
    2 - removes outlier dates - as defined as outsude the interval [1.5IQR - Q1, 1.5 IQR + Q3]
    3 - calculates the date of the 95th percentile of remaining logs,
    4 - returns date - assumed to be date of end of course'''    
     
    #step 1: sort logs
    logs = logs.sort_values(by = 'time').reset_index(drop = True)
    
    #step 2: remove outliers 
    # Computing IQR
    Q1 = logs['time'].quantile(0.25)
    Q3 = logs['time'].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 -(1.5 * IQR) 
    upper_bound = Q3 +(1.5 * IQR)
    # Filtering Values between Q1-1.5IQR and Q3+1.5IQR
    logs = logs[(logs['time'].between(lower_bound, upper_bound, inclusive=True))]
    #print(logs)
    
    #step 3: returns date corresponding to 95th percentile
    logs = logs['time'].quantile(0.95)
    #print(logs)
    
    return logs

In [ ]:
course_dict = {course: course_dict[course].pipe(get_end_date) for course in tqdm(course_dict)}

Now, we have a dict with can map store this date as a column. We will do that, but first, we will also create a column with the start date. For both, we will use the dictionaries we created with both start date and our estimated end date.

In [ ]:
#start date
class_list['Start Date'] = class_list.index.to_series().map(sorting_hat)

#end date
class_list['End Date'] = class_list.index.to_series().map(course_dict)
class_list['End Date'] = class_list['End Date'].where( class_list['End Date'] == (( class_list['End Date'] + Week(weekday=4) ) - Week()), class_list['End Date'] + Week(weekday=4))

#additionally, we will look at our estimated course duration
class_list['Course duration days'] = class_list['End Date'] - class_list['Start Date']

Before finishing, we will take an additional look at our list of courses their duration.

In situations where the course duration is very small we may disconsider them outright. Courses at NOVA IMS will be either annual, semestral or trimestral. For that, we will add the following criteria for exclusion:

1. Start Date occurs before 24th of August 2014 - our threshold.
2. Courses with a small duration (below 4 weeks)

In [ ]:
#1 Filter by Start Date - we lose 3 courses
class_list = class_list[class_list['Start Date'] >= '24-08-2014']

#filtering all courses with duration equal to or below 1 week
small_duration = class_list[class_list['Course duration days'] <= pd.to_timedelta(4, unit = 'W')].sort_values(by = 'Course duration days').reset_index()
class_list = class_list[~class_list.index.isin(small_duration['course'])]

#we can now filter our student logs, hereby removing all of these unnecessary courses
student_logs = student_logs[student_logs['course'].isin(class_list.index)]

In [ ]:
student_logs

We note that many of the disciplines discarded have, in practice, logs that are consistent with the theoretical very small duration of the course. 

It is, nonetheless important to highlight the existence of courses whose log existence would not be consistent with the calculated duration. After verification, we found that, while the End-date was consistent with the logs, the start date was not.

In these instances, we opted to remove the courses as there is no way to confirm the exact start date.

In [ ]:
#additional manipulations required to plot interactions
small_duration['course'] = pd.to_numeric(small_duration['course']).astype(int)

#finally we create the pivot_table that we will use to create our heatmap
small_duration = small_duration.set_index('course', drop = True)

In [ ]:
sns.set_theme(context='paper', style='whitegrid', font='Calibri', rc={"figure.figsize":(20, 12)}, font_scale=2)

#here, we are plotting the first
heat2 = sns.heatmap(grouped_data[grouped_data.index.isin(small_duration.index.to_list())], robust=True, norm=LogNorm(), xticklabels = 2, yticklabels= False,
            cmap = standard_cmap, cbar_kws={'label': 'Weekly interactions'})

fig = heat2.get_figure()
fig.savefig('../Images/weekly_clicks_small_duration_heatmap.png', transparent=True, dpi=300)

#delete to remove from memory
del fig, heat2

**Now, we will fininsh our work by removing all logs outside the following conditions.**

We will build 2 cutoff points:

1. One week before the start date of the course, 
2. After the perceived end of course.

In [ ]:
#a new look into class list
class_list['cuttoff_point'] = pd.to_datetime((class_list['Start Date'] - pd.to_timedelta(1, unit = 'W')).dt.date)

#convert to date
class_list['Start Date'] = pd.to_datetime(class_list['Start Date'].dt.date)
class_list['End Date'] = pd.to_datetime(class_list['End Date'].dt.date)
class_list['Course duration days'] = class_list['End Date'] - class_list['Start Date']
class_list.reset_index(inplace = True)

#we will create a new dict with the start date
cuttoff_point = class_list.set_index('course').to_dict()['cuttoff_point'] 

#we'll create a new column that will signal whether we are whithin our course boundaries or not
student_logs['start_bound'] = student_logs['course'].map(cuttoff_point)
student_logs['end_bound'] = student_logs['course'].map(course_dict)

#convert to date
student_logs['start_bound'] = pd.to_datetime(student_logs['start_bound'].dt.date)
student_logs['end_bound'] = pd.to_datetime(student_logs['end_bound'].dt.date)

**Now, we only keep rows that are inside between the dates inside the start and end bounds.**

In [ ]:
student_logs = student_logs[student_logs['time'].between(student_logs['start_bound'], student_logs['end_bound'], inclusive = True)].reset_index(drop = True)
student_logs

**After finishing, we will now take a new look at the weekly interactions.**

We are expecting a cleaner view at the weekly interactions performed by students in the context of their courses.

In [ ]:
#Then, when it comes to logs, we aggregate by week
grouped_data = student_logs.groupby([pd.Grouper(key='time', freq='W'), 'course']).agg({
                                                                             'action': 'count',
                                                                             }).reset_index().sort_values('time')
#change for better reading
grouped_data['Date (week)'] = grouped_data['time'].astype(str)

#creating pivot table to create heatmap
grouped_data = grouped_data.pivot_table(index ='course', 
                       columns = 'Date (week)',
                        values = 'action', 
                       aggfunc =np.sum,
                        fill_value=np.nan).reset_index().rename(columns = {'course' : 'Course'})

#now, we will sort the courses according to the starting date
grouped_data['sort'] = grouped_data['Course'].map(sorting_hat)
grouped_data['Course'] = pd.to_numeric(grouped_data['Course']).astype(int)

#finally we create the pivot_table that we will use to create our heatmap
grouped_data = grouped_data.set_index('Course', drop = True).sort_values('sort').drop('sort', axis = 1)
grouped_data.T.describe(include = 'all').T

In [ ]:
#here, we are plotting the nex
heat3 = sns.heatmap(grouped_data, robust=True, norm=LogNorm(), xticklabels = 2, yticklabels= False,
            cmap = standard_cmap, cbar_kws={'label': 'Weekly interactions'})

fig = heat3.get_figure()
fig.savefig('../Images/cleaned_weekly_clicks_heat3.png', transparent=True, dpi=300)

#delete to remove from memory
del fig, heat3

We finish the notebook by saving the cleaned logs and the list of the courses with which we will be going forward in our analysis. 

A very important factor to take into account is the fact that, as our targets, we will only have access to the student-pairt courses that we were able to identify in our targets table - which are the same as the ones present iin our support_table.

It is, therefore, wise to perform a last filtering step before going forward.

In [ ]:
#get all unique student course pairs present in the support table
support_table = support_table[['courseid', 'userid']].drop_duplicates().rename(columns = {'courseid': 'course'})

#merge with our current, cleaned, logs - will only include courses that we have not expressly excluded thus far
student_logs = student_logs.merge(support_table, on = ['course','userid'], how = 'inner').reset_index(drop = True)

In [ ]:
student_logs

And finally, we will update the student per course count presented in the final logs: This will ensure that we are working with the most up-to-date information.

In [ ]:
#We start by updating the relevant student_course list
student_courses = student_logs.filter(['course', 'userid']).drop_duplicates().reset_index(drop = True)

#then, we compute the updated number of students attending each course
new_class_list = student_courses.groupby('course')['userid'].count().to_frame().rename(columns = {'userid' : 'Users per course'}).reset_index()

#we will create a new dict with the start date
new_class_list = new_class_list.set_index('course').to_dict()['Users per course']

#we'll create a new column that will signal whether we are whithin our course boundaries or not
class_list['Users per course'] = np.where(class_list['course'].isin(new_class_list.keys()),
                                          class_list['course'].map(new_class_list).astype(int),
                                          np.nan)

In [ ]:
class_list['Course duration days'] = (class_list['Course duration days'].dt.total_seconds() // 3600 // 24) + 1

In [ ]:
class_list

In [ ]:
#save tables 
class_list.to_csv('../Data/Modeling Stage/R_Gonz_class_duration.csv') 

student_logs.drop(['start_bound', 'end_bound'], axis = 1).to_csv('../Data/Modeling Stage/R_Gonz_cleaned_logs.csv')

#### Done

From here on out, we will continue with feature engineering and extraction for modeling purposes in Notebooks 3.